
.main .result {
    display: flex;
    /* align-items: center; */
    gap: 40px;
    max-width: 350px;
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
  }
  .main{
    border: 1px solid bisque;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .rps-div{
    border: 2px solid whitesmoke;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    text-align: left;
    max-width: 600px;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: sans-serif;

  }
  .Scores-div{
background-color: #fff;
padding: 10px;     
border-radius: 10px;
border: 1px solid grey;
  }
   .Scores-div p{
    color: purple;
  }
 
 .paper{
  border-radius: 170px;
  padding: 20px;
  border: 15px solid rgb(206, 203, 47);
  background-color: white;
  object-fit: cover;
 }

 .result p{
  color: rgb(29, 235, 10);
 }
 
 .rock{
  border-radius: 100px;
  padding: 20px;
  border: 15px solid rgb(241, 48, 48);
  background-color: white;
 }
 .main h1{
  color: white;
 }
 

 .btn1{
  height: 53px;
  width: 60%;
    max-width: 330px;
  /* min-width: %; */
  background-color: whitesmoke;
  border: none;
  border-radius: 9px;
  font-size: 15px;
 }
 .btn1:active{
  background-color: aqua;
 }
 .btn2{
  height: 50px;
  width:50% ;
  max-width: 200px;
  margin-top: 40px;
  background-color: rgb(23, 23, 143);

  color: white;
  font-size: 20px;
  border: 2px solid whitesmoke;
  border-radius: 9px;
  
 }
 .link{
  text-decoration: none;
  color: white;
 }

 .restext{
  color: green;
 }
 .Href{
  color: red;
 }